@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

:root{
    --task-container-color:rgb(22, 22, 34);
    --task-wrapper-color:rgb(44, 44, 73);
    --date-circle-color:rgb(58, 58, 105);
}
#history-wrapper{
    width: 50%;
    aspect-ratio: 2/3;
    background-color: var(--task-container-color);
    border-radius: 5%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;
}

#history-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.history {
    background-color: var(--task-wrapper-color);
    width: 80%;
    aspect-ratio: 6/1;
    border-radius: 30px;
    margin: 1em;
    border: 4px solid black;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    /* hover到history上的時候整個history會變大 */
    transform: scale(1.0);
    transition: transform .2s linear;
    
}

.history:hover {
    transform: scale(1.03);
}

.history-info{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;


    visibility: hidden;
    color: white;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 10%;
    
    position: fixed;

    transform: translate(-50%,-50%);

}



.history-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.history-name li{
    color: white;
}

.history:hover .history-info{
    visibility: visible;
}


.date{
    margin-left:2em;
    font-size: clamp(10px,1vw,50px);
    background-color: var(--date-circle-color);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.rate{
    position: absolute;
    right: 10%;
    font-size: 2em;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #history-wrapper {
    width: 70%;
    aspect-ratio: 1/2;
  }
}