@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --task-desc-color:rgb(224, 224, 224);
    --task-name-color: rgb(218, 218, 218);
    --task-container-color:rgb(22, 22, 34);
    --task-wrapper-color:rgb(44, 44, 73);
    --hr-lines-color:rgb(165, 165, 165);
}   

.mainContainer{
    /* 把主頁上的東西置中 並上下擺放 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskContainer{
    margin: 1em 0;
    color: var(--task-name-color);
    width: 70%;
    aspect-ratio: 5/4;
    background-color: var(--task-container-color);

    /* 自動排列tasks */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,40%));

    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.taskWrapper{
    background-color: var(--task-wrapper-color);
    margin: .5em;
    height: 30%;
    aspect-ratio: 3/2;
    border-radius: 5%;
    font-size: clamp(30px,5%,100px);
    color: white;

    min-width: 200px;
    min-height: 132px;

    position: relative;
}

.taskDesc{
    font-size: clamp(20px,3.4%,70px);
    margin: .4em;
    
    color: var(--task-desc-color);

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}


.hr-lines{
    border-color: var(--hr-lines-color);
    width: 75%;
}

.taskName{
    margin: .3em;
    overflow-x: auto;
    display: flex;
}

.trashIcon{
    width: min(50px,12%);
    font-size: clamp(7px,80%,30px);
    aspect-ratio: 1/1;

    /* 把emoji放到div中間 */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 4%;
    right: 2.5%;
}

.trashIcon:hover{
    color: rgb(228, 5, 5);
    cursor: pointer;
}