:root{
    --thumb-color: rgb(54, 54, 121);
}

body{
    background-color: black;
}

::-webkit-scrollbar{
    width: 15px;
    color: rgb(0, 0, 65);
    height: 5px;
}



::-webkit-scrollbar-thumb{
    background: var(--thumb-color);
    border-radius: 10px;
}