:root{
    --thumb-color: rgb(54, 54, 121);
}

body{
    background-color: black;
}


/* 調整網站的預設滾軸 */
::-webkit-scrollbar{
    width: 15px;
    height: 5px;
}



::-webkit-scrollbar-thumb{
    background: var(--thumb-color);
    border-radius: 10px;
}