:root{
    --bg-color: rgb(25, 25, 48);;
}

#tilte{
    color: white;
    font-size: clamp(30px,12%,200px);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.icons:hover .deco-line{
    animation: extend .3s linear 1 forwards;
}

.icons:hover{
    cursor: pointer;
}



@keyframes extend {
    0%{width: 0%;}
    100%{width: 100%;}
}

#navbar{
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
}

.deco-line{
    padding: 1px 0;
    color: white;
    background-color: white;
    width: 0%;
}

.icon-wrapper{
    float: right;
    display: flex;
    position: absolute;
    right: 2%;
    justify-content: center;
    align-items: center;
}

.text{
    color: white;
    margin: .4em;
    text-decoration: none;
}
